# Merge output data with boundaries for visualisation

In [1]:
import glob
import math
import os

import pandas
import geopandas

## List existing data

In [ ]:
os.listdir('../output')

In [ ]:
for fname in glob.glob('../output/*LA.csv'):
    if 'LA' in fname:
        print(fname, "\n", pandas.read_csv(f"../output/{fname}").columns)

In [2]:
lad_data = pandas.read_csv('../output/vulnerability-LA.csv')
lad_data

,lad19cd,lad19nm,Estimated prevalence of CHD,Estimated prevalence of peripheral arterial disease,Estimated prevalence of Heart failure,Estimated prevalence of COPD,CHD_q,COPD_q,HF_q,Arterial_q,...,People receiving Section 95 support,Sec95_q,Prop_top20,Deprivation_q,Prop_Highest_Need,Community_Need_q,Digital exclusion,Digital_q,Vulnerability,Vulnerability_q
0,E06000001,Hartlepool,8.602511,1.225502,1.629366,3.651985,5.0,5.0,4.0,4.0,...,283.0,4.0,0.465517,5,0.810345,5.0,15.0,4,26,4
1,E06000002,Middlesbrough,7.982606,1.167663,1.367508,3.390851,3.0,4.0,2.0,3.0,...,544.0,5.0,0.546512,5,0.639535,5.0,16.0,4,29,5
2,E06000003,Redcar and Cleveland,8.121227,1.179789,1.743314,3.791087,4.0,5.0,4.0,4.0,...,113.0,4.0,0.352273,5,0.318182,4.0,16.0,4,31,5
3,E06000004,Stockton-on-Tees,7.461176,1.080095,1.432106,2.988416,2.0,3.0,2.0,2.0,...,732.0,5.0,0.275000,4,0.608333,5.0,11.0,3,27,5
4,E06000005,Darlington,8.212802,1.248335,1.587301,3.205042,4.0,4.0,4.0,5.0,...,86.0,4.0,0.200000,4,0.107692,3.0,11.0,3,26,4
5,E06000006,Halton,8.349871,1.277696,1.444426,3.333267,4.0,4.0,2.0,5.0,...,141.0,4.0,0.493671,5,0.848101,5.0,16.0,4,26,4
6,E06000007,Warrington,8.341608,1.121127,1.419726,2.808454,4.0,3.0,2.0,3.0,...,21.0,3.0,0.165354,4,0.322835,4.0,11.0,3,27,5
7,E06000008,Blackburn with Darwen,8.264412,1.198594,1.218731,3.045146,4.0,3.0,1.0,4.0,...,317.0,4.0,0.505495,5,0.252747,4.0,15.0,4,24,4
8,E06000009,Blackpool,9.398944,1.399389,1.675129,4.482188,5.0,5.0,4.0,5.0,...,NaN,NaN,0.542553,5,0.531915,5.0,11.0,3,24,4
9,E06000010,"Kingston upon Hull, City of",8.026752,1.151770,1.308806,3.348839,3.0,4.0,2.0,3.0,...,497.0,5.0,0.530120,5,0.650602,5.0,13.0,3,27,5
10,E06000011,East Riding of Yorkshire,7.778061,1.159760,1.827903,3.323597,3.0,4.0,5.0,3.0,...,1.0,1.0,0.095238,3,0.195238,3.0,14.0,4,23,3
11,E06000012,North East Lincolnshire,8.154289,1.190767,1.607044,3.869223,4.0,5.0,4.0,4.0,...,80.0,3.0,0.396226,5,0.141509,3.0,14.0,4,28,5
12,E06000013,North Lincolnshire,8.116354,1.214749,1.600955,3.490621,4.0,4.0,4.0,4.0,...,1.0,1.0,0.168317,4,0.455446,5.0,15.0,4,24,4
13,E06000014,York,7.275328,1.079488,1.314314,2.323665,1.0,1.0,2.0,2.0,...,NaN,NaN,0.016667,2,0.066667,2.0,9.0,2,17,1
14,E06000015,Derby,9.751468,1.301414,1.428198,2.947473,5.0,3.0,2.0,5.0,...,713.0,5.0,0.278146,4,0.125828,3.0,9.0,2,27,5
15,E06000016,Leicester,7.606250,1.091488,0.997123,2.376369,2.0,1.0,1.0,2.0,...,769.0,5.0,0.317708,5,0.119792,3.0,12.0,3,25,4
16,E06000017,Rutland,10.525822,1.705340,1.764228,2.857289,5.0,3.0,5.0,5.0,...,1.0,1.0,0.000000,1,0.000000,1.0,10.0,2,17,1
17,E06000018,Nottingham,7.849332,1.126491,0.977857,2.498900,3.0,2.0,1.0,3.0,...,841.0,5.0,0.516484,5,0.109890,3.0,11.0,3,24,4
18,E06000019,"Herefordshire, County of",8.443943,1.281761,1.809693,3.665210,5.0,5.0,5.0,5.0,...,NaN,NaN,0.043103,2,0.000000,1.0,15.0,4,23,3
19,E06000020,Telford and Wrekin,8.651231,1.273172,1.380092,3.114110,5.0,3.0,2.0,5.0,...,4.0,2.0,0.222222,4,0.129630,3.0,14.0,4,25,4
20,E06000021,Stoke-on-Trent,8.433904,1.258437,1.381444,3.524728,5.0,5.0,2.0,5.0,...,920.0,5.0,0.452830,5,0.402516,4.0,14.0,4,30,5
21,E06000022,Bath and North East Somerset,7.985104,1.196075,1.514751,2.501573,3.0,2.0,3.0,4.0,...,NaN,NaN,0.034783,2,0.034783,2.0,6.0,1,20,2
22,E06000023,"Bristol, City of",7.586586,1.088949,1.084777,2.558022,2.0,2.0,1.0,2.0,...,214.0,4.0,0.220532,4,0.045627,2.0,6.0,1,24,4
23,E06000024,North Somerset,7.843071,1.164691,1.800706,3.239850,3.0,4.0,5.0,3.0,...,NaN,NaN,0.103704,3,0.140741,3.0,8.0,2,25,4
24,E06000025,South Gloucestershire,7.172176,1.064046,1.452922,2.577002,1.0,2.0,2.0,1.0,...,65.0,3.0,0.006061,1,0.084848,2.0,7.0,1,21,3
25,E06000026,Plymouth,7.808575,1.128544,1.422443,3.297747,3.0,4.0,2.0,3.0,...,280.0,4.0,0.273292,4,0.217391,3.0,8.0,2,27,5
26,E06000027,Torbay,8.589674,1.231778,1.996844,4.727528,5.0,5.0,5.0,5.0,...,1.0,1.0,0.292135,5,0.337079,4.0,9.0,2,25,4
27,E06000030,Swindon,7.386273,1.068311,1.277108,2.589594,2.0,2.0,1.0,1.0,...,179.0,4.0,0.128788,3,0.113636,3.0,7.0,1,20,2
28,E06000031,Peterborough,9.277584,1.242729,1.283494,2.991823,5.0,3.0,1.0,5.0,...,173.0,4.0,0.303571,5,0.151786,3.0,9.0,2,27,5
29,E06000032,Luton,8.201212,1.143411,1.085587,2.493496,4.0,2.0,1.0,3.0,...,124.0,4.0,0.264463,4,0.190083,3.0,13.0,3,24,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,S12000040,West Lothian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.179916,3,NaN,NaN,14.0,4,16,1
353,S12000041,Angus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.096774,2,NaN,NaN,16.0,4,17,1
354,S12000042,Dundee City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,0.292553,4,NaN,NaN,7.0,1,17,1
355,S12000045,East Dunbartonshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.092308,2,NaN,NaN,12.0,3,14,1
356,S12000047,Fife,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.198381,4,NaN,NaN,16.0,4,16,1
357,S12000048,Perth and Kinross,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,0.069892,2,NaN,NaN,16.0,4,17,1
358,S12000049,Glasgow City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3784.0,5.0,0.372654,5,NaN,NaN,7.0,1,19,2
359,S12000050,North Lanarkshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,0.373602,5,NaN,NaN,18.0,5,21,3
360,W06000001,Isle of Anglesey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.136364,2,NaN,NaN,19.0,5,14,1
361,W06000002,Gwynedd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.054795,1,NaN,NaN,15.0,4,16,1
362,W06000003,Conwy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.098592,2,NaN,NaN,15.0,4,18,2
363,W06000004,Denbighshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.155172,3,NaN,NaN,16.0,4,18,2
364,W06000005,Flintshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.086957,2,NaN,NaN,12.0,3,18,2
365,W06000006,Wrexham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,131.0,4.0,0.082353,1,NaN,NaN,14.0,4,20,2
366,W06000008,Ceredigion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.043478,1,NaN,NaN,14.0,4,12,1
367,W06000009,Pembrokeshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.112676,2,NaN,NaN,19.0,5,19,2
368,W06000010,Carmarthenshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.142857,3,NaN,NaN,18.0,5,16,1
369,W06000011,Swansea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,800.0,5.0,0.236486,3,NaN,NaN,8.0,2,20,2
370,W06000012,Neath Port Talbot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.362637,5,NaN,NaN,17.0,5,16,1
371,W06000013,Bridgend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.238636,4,NaN,NaN,15.0,4,14,1
372,W06000014,Vale of Glamorgan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,0.139241,3,NaN,NaN,10.0,2,17,1
373,W06000015,Cardiff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1238.0,5.0,0.271028,4,NaN,NaN,5.0,1,21,3
374,W06000016,Rhondda Cynon Taf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.318182,5,NaN,NaN,17.0,5,20,2
375,W06000018,Caerphilly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.209091,3,NaN,NaN,16.0,4,16,1
376,W06000019,Blaenau Gwent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.425532,5,NaN,NaN,16.0,4,13,1
377,W06000020,Torfaen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.250000,4,NaN,NaN,17.0,5,16,1
378,W06000021,Monmouthshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.035714,1,NaN,NaN,14.0,4,18,2
379,W06000022,Newport,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,453.0,5.0,0.357895,5,NaN,NaN,12.0,3,22,3
380,W06000023,Powys,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.050633,1,NaN,NaN,20.0,5,18,2
381,W06000024,Merthyr Tydfil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.277778,4,NaN,NaN,17.0,5,17,1

## Geographies

- wards
- LSOAs
- LADs

In [3]:
wards = geopandas.read_file('../output/vulnerability-ward.geojson')

In [4]:
wards.head(1)

,objectid,wd17cd,wd17nm,wd17nmw,bng_e,bng_n,long,lat,st_areashape,st_lengthshape,...,Arterial_z,Clinical_Risk,Clinical_Risk_q,Prop_top20,Deprivation_q,left_behind,need_index_q,Vulnerability,Vulnerability_q,geometry
0,3,E05000028,Becontree,,546863,185869,0.116912,51.552601,0.000177,0.064633,...,-0.191298,-0.88764,2.0,0.875,3.0,0.0,5.0,10.0,5,"MULTIPOLYGON (((0.12499 51.56434, 0.11903 51.5..."

In [ ]:
# Lower Layer Super Output Areas (December 2011) Boundaries EW BGC
lsoa_boundaries_url = "https://opendata.arcgis.com/datasets/e993add3f1944437bc91ec7c76100c63_0.zip?outSR=%7B%22latestWkid%22%3A3857%2C%22wkid%22%3A102100%7D"

In [ ]:
# Wards 2017 (to match Community Needs Index)
ward_boundaries_url = "https://opendata.arcgis.com/datasets/7193daa99995445aa84a0b23352e56a1_2.zip?outSR=%7B%22latestWkid%22%3A4326%2C%22wkid%22%3A4326%7D"

In [ ]:
# Local Authority Districts (December 2019) Boundaries UK BGC
lad_boundaries_url = "https://opendata.arcgis.com/datasets/0e07a8196454415eab18c40a54dfbbef_0.zip?outSR=%7B%22latestWkid%22%3A27700%2C%22wkid%22%3A27700%7D"

In [ ]:
!`wget {lad_boundaries_url} -O '../data/lads.zip'`

In [ ]:
!unzip ../data/lads.zip -d ../data

In [5]:
lads = geopandas.read_file('../data/boundaries/Local_Authority_Districts_December_2019_Boundaries_UK_BGC.shp')

## Additional datasets

- population, age breakdown

To consider?
- self-employed
- retail sector employment
- single-occupancy
- IMD
- SEC

In [ ]:
# Estimates of the population for the UK, England and Wales, Scotland and Northern Ireland 
# Mid-2018: 2019 LA boundaries
lad_mye_url = "https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fpopulationestimatesforukenglandandwalesscotlandandnorthernireland%2fmid20182019laboundaries/ukmidyearestimates20182019ladcodes.xls"

In [ ]:
!`wget {lad_mye_url} -O '../data/ukmidyearestimates20182019ladcodes.xls'`

In [6]:
ladpop = pandas.read_excel('../data/ukmidyearestimates20182019ladcodes.xls', sheet_name='MYE2-All', header=4) \
    .dropna()
ladpop = ladpop[~ladpop.Geography1.isin(['Country', 'Region', 'County', 'Metropolitan County'])] \
    .drop(columns=['Geography1', 'All ages'])
ladpop.head(1)

,Code,Name,0,1,2,3,4,5,6,7,...,81,82,83,84,85,86,87,88,89,90
5,E06000047,County Durham,4989.0,5252.0,5448.0,5547.0,5785.0,5939.0,5929.0,6223.0,...,3312.0,2843.0,2659.0,2341.0,2063.0,1811.0,1741.0,1409.0,1149.0,4138.0

In [7]:
# check sets of LAD codes match
set(ladpop.Code.unique()) ^ set(lads.lad19cd)

set()

In [8]:
set(lad_data.lad19cd) - set(lads.lad19cd)

set()

In [9]:
ladpopa = ladpop.melt(id_vars=['Code', 'Name'], var_name='age', value_name='population')
ladpopa['group'] = ladpopa.age.apply(lambda d: min(math.floor(int(d)/10), 8))

ladpopa = ladpopa.drop(columns=['Name', 'age']) \
    .groupby(['Code', 'group']) \
    .sum() \
    .reset_index() \
    .rename(columns={
        'Code': 'lad19cd',
        'group': 'age_min'
    })
ladpopa.age_min *= 10
ladpopa.population = ladpopa.population.round().astype(int)
ladpopa.head(1)

     lad19cd  age_min  population
0  E06000001        0       11254

In [10]:
ladpop_fat = ladpopa.pivot(index='lad19cd', columns='age_min')
ladpop_fat.columns = [f"{var}_{age}" for var, age in ladpop_fat.columns]
ladpop_fat = ladpop_fat.reset_index()
ladpop_fat = lads[['lad19cd', 'geometry', 'st_areasha']].merge(ladpop_fat, on='lad19cd')
ladpop_fat.head(1)

,lad19cd,geometry,st_areasha,population_0,population_10,population_20,population_30,population_40,population_50,population_60,population_70,population_80
0,E06000001,"POLYGON ((447097.001 537152.001, 447228.798 53...",9.377035e+07,11254,10792,11412,11456,11060,13675,10930,7719,4944

In [11]:
lad_all = ladpop_fat.merge(lad_data, on='lad19cd', how='right')
lad_all.head(1)

,lad19cd,geometry,st_areasha,population_0,population_10,population_20,population_30,population_40,population_50,population_60,...,People receiving Section 95 support,Sec95_q,Prop_top20,Deprivation_q,Prop_Highest_Need,Community_Need_q,Digital exclusion,Digital_q,Vulnerability,Vulnerability_q
0,E06000001,"POLYGON ((447097.001 537152.001, 447228.798 53...",9.377035e+07,11254,10792,11412,11456,11060,13675,10930,...,283.0,4.0,0.465517,5,0.810345,5.0,15.0,4,26,4

In [13]:
lad_all.to_file('../output/lad_all.geojson', driver='GeoJSON')

In [ ]:
lad_all.to_file('../output/lad_all.gpkg', driver='GPKG')

In [ ]:
lad_all.columns

In [ ]:
# Mid-2018 estimates of the usual resident population for electoral wards in England and Wales. 
ward_mye_url = "https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fwardlevelmidyearpopulationestimatesexperimental%2fmid2018sape21dt8a/sape21dt8amid2018ward20182019lasyoaestunformatted.zip"

In [ ]:
!`wget {ward_mye_url} -O '../data/ukmidyearestimates20182019ward.zip'`

In [ ]:
# LSOA also available
# https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/lowersuperoutputareamidyearpopulationestimates
lsoa_mye_url = "https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2flowersuperoutputareamidyearpopulationestimates%2fmid2018sape21dt1a/sape21dt2mid2018lsoasyoaestimatesunformatted.zip"

In [ ]:
!`wget {lsoa_mye_url} -O '../data/ukmidyearestimates20182019lsoa.zip'`